.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-link {
  color: #61dafb;
}
.user-list a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.user-button{
  display: flex;
  gap: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
